#img{
    /* background: url(images/laptopwork.jpg); */
    position: absolute;

}
.bi{
    font-size: 50px;
    text-decoration: overline;
}
#orange{
    background-color: rgba(255, 68, 0, 0.668);
}
#side{
    background-color: black;
}
secondside{
    box-decoration-break: inherit;
    border-top: 50px solid black;
    
}